@font-face {
    font-family: 'Inter-Regular';
    src: url(fonts/static/Inter-Regular.ttf);
}

.body {
    background-color: hsl(0, 0%, 8%);
}

.card_body {
    width: 400px;
    position: relative;
    margin: 100px auto;
    color: #fff;
    background-color: hsl(0, 0%, 12%);
    border-radius: 15px;
}

.card {
    scale: 90%;
}

.card_image {
    border-radius: 50%;
    padding: 0 110px;
    scale: 60%;
}

.card_info {
    font-family: 'Inter-Regular';
    src: url(fonts/static/Inter-Regular.ttf);
}

.card_info{
    font-weight: normal;
    text-align: center;
    margin: 0;
}
.card_info_name{
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    margin: 0;
}

.card_info_from-country {
    font-weight: 600;
    font-size: 14px;
    margin: 9px 0;
    color: hsl(75, 94%, 57%);
}

.card_info_description {
    font-weight: 400;
    font-size: 14px;
    margin: 30px 0;
    opacity: 70%;
}

ul {
    list-style: none;
    padding: 0;
    line-height: 50px;
}

.card_social-media_list {
    height: 50px;
    background-color: hsl(0, 0%, 20%);
    border-radius: 10px;
    font-weight: bold;
    font-size: 15px;
    margin-bottom: 15px;
}

li:hover {
    transition: 0.5s ease;
    color: #00aaff;
    cursor: pointer;
}
